extends layout.pug

block content
  h1 users / index (read - all):
  ul
    each val in users
      li= val.firstName
      a(href="/user/" + val.id) id: #{val.id} firstName: #{firstName}
  h1 post a user

  form(method="POST" action="/user")
    include userform.pug