div
  label firstName:
    input(type="text" name="firstName")
div
  label lastName:
    input(type="text" name="lastName")
div
  label info:
    input(type="text" name="info")
button(type="submit") submit